<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles.css" />
    <title>Dice Roll</title>
  </head>
  <body>
    <header class="page-header">
      <a class="skip-navigation-link" href="#main-content">Skip Navigation</a>
      <div class="nav-container">
        <div class="logo-wrap">
          <a href="../index.html" class="logo">Project Mercury</a>
        </div>
        <nav class="site-nav">
          <button
            class="menu-toggle"
            aria-controls="primary-navigation"
            aria-expanded="false"
          >
            <span class="visually-hidden">Menu</span>
            <div class="hamburger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
          </button>
          <ul
            id="primary-navigation"
            class="primary-navigation"
            data-state="closed"
          >
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Random Roll</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="generator.html">Generate Numbers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="analysis.html">Graphs & Statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="data.html">Past Result Data</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="container">
        <h2>Dashboard</h2>

        <h2>Display Graphs</h2>

        <h2>Display Table</h2>
      </div>
    </main>
    <footer>
      <div class="footer-container">
        <small class="copyrights">
          &copy <span id="currentYear"></span>. All Rights Reserved
        </small>
        <small>
          <a
            href="https://loteries.espacejeux.com/en/lotteries/lotto-max"
            target="_blank"
            >Lotto-Max Results</a
          >
        </small>
        <small>
          <a href="#" target="_blank">Google Sheets</a>
        </small>
      </div>
    </footer>
    <script src="../app.js"></script>
  </body>
</html>
